{% include "components/header.html" %}
{% include "components/start_container.html" %}
{% include "components/menu.html" %}
<div class="row">
    <div class="col">
        <div class="row" style="cursor: pointer;">
            <div class="col">
                <div class="row" id="upload-box" style="border-radius: 10px;padding: 5px;border-style: solid;border-color: var(--bs-success);background: var(--bs-teal);color: var(--bs-white);" onclick="triggerUpload()">
                    <div class="col" style="border-radius: 10px;padding-bottom: 20px;padding-top: 20px;padding-right: 20px;padding-left: 20px;border: 2px dashed var(--bs-gray-100) ;"><i class="fa fa-cloud-upload d-xl-flex justify-content-xl-center align-items-xl-center" style="font-size: 120px;margin-right: auto;"></i>
                        <p class="d-xl-flex justify-content-xl-center" style="font-size: 26px;font-family: 'Roboto Condensed', sans-serif;">Tải ảnh lên</p>
                        <div class="d-none text-center">
                            <form id="uploadFileForm" method="POST" action="{{ submit_localtion }}" enctype="multipart/form-data"><input class="form-control form-control-lg d-none d-xl-flex" type="file" id="uploadFileInput" name="uploadFile" accept="image/*" required="" onchange="showFilePath(this)"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col" style="padding: 0;padding-top: 10px;">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0"><i class="fa fa-file-photo-o"></i>&nbsp;File đã chọn</h5>
            </div>
            <div class="card-body"><img id="inputImage" style="max-height: 500px;max-width: 100%;"></div>
        </div>
    </div>
</div>
<div class="row" style="padding-top: 30px;">
    <div class="col-xl-6" style="font-family: Roboto, sans-serif;padding: 0;padding-right: 12px;">
        <div class="card" style="min-height: 200px;">
            <div class="card-header">
                <h5 class="mb-0"><i class="fa fa-gear"></i>&nbsp;Các cài đặt tùy chọn</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Ngôn ngữ gốc của tập tin của bạn<br> Để đạt được kết quả tốt nhất, hãy chọn ngôn ngữ có trong file của bạn.</p><select id="lang-selector" name="lang" form="uploadFileForm">
                    <option value="vie" selected="">Tiếng Việt</option>
                    <option value="eng">Tiếng Anh</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xl-6" style="font-family: Roboto, sans-serif;padding: 0;padding-right: 12px;">
        <div class="card" style="min-height: 200px;">
            <div class="card-header">
                <h5 class="mb-0"><i class="fa fa-info-circle"></i>&nbsp;Các định dạng hỗ trợ</h5>
            </div>
            <div class="card-body">
                <p class="text-break card-text">Trình chuyển đổi OCR miễn phí này cho phép bạn lấy văn bản từ tập tin hình ảnh và chuyển nó thành tập tin TXT văn bản thuần túy.<br>Hiện tại chúng tôi hỗ trợ chuyển đổi tập tin có định dạng hình ảnh thành văn bản sau: <strong>JPG</strong> thành văn bản, <strong>PNG</strong> thành văn bản.<br></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col" style="padding: 0;padding-top: 30px;">
        <div><button class="btn btn-primary" type="submit" style="background: var(--bs-green);min-width: 250px;min-height: 48px;font-size: 20px;" form="uploadFileForm"><i class="fa fa-gears"></i>&nbsp;Chuyển ảnh thành văn bản</button></div>
    </div>
</div>
{% include "components/footer.html" %}
{% include "components/end_container.html" %}
{% include "components/js_files.html" %}